<h1>Courses, Sections an Professor Forms</h1>

<div> <% link_to "Here", courses_path %>Courses</div>

<div><% link_to "Here", sections_path %>Sections</div>

<div><% link_to "Here", professors_path %>Professors</div>
